*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
div{
    width: 1110px;
    height: 349px;
}
.text{
 padding-top: 83px;
    margin-left: 96px;
}
div h3{
    width: 532px;
    height: 96px;
    font-weight: bold;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
   
}

button{
    border: none;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #ffffff;
    padding: 16px 72px;
    border-radius: 3px;
    width: 280px;
    height: 64px;
    background-color: #DC3545;
    margin-top: 24px;
} 