* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background-color: #121212;
}

.container{
    width: 1110px;
}

.call-to-action{
    float: right;
    padding-top: 36px;
}

.content {
    padding-top: 83px;
    padding-left: 96px;
}

.content h3 {
    width: 532px;
    height: 96px;
    font-weight: bold;
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
    margin-bottom: 24px;
}

.content a{
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #ffffff;
    padding: 16px 72px;
    border-radius: 3px;
    background-color: #DC3545;
    display: inline-block;
    text-decoration: none;
} 

/* div{
    width: 1110px;
    height: 349px;
}


 */